@import '../styles/variables';
@import '../styles/mixins';

.icon-button.theme-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: map-get($light-theme, text-color);

  &:hover {
    color: #007bff;
  }

  .theme-dark & {
    color: map-get($dark-theme, text-color);
    &:hover {
      color: #007bff;
    }
  }

  &:focus {
    outline: none;
  }
}
